/* TODO
- это нужно использовать ↓ ?
https://css-tricks.com/responsive-images-css/#article-header-id-0
 */

body {
    background-color: rgb(246, 245, 243);
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    color: #010202;
}

a {
    color: #010202;
    text-decoration: none;
}

input {
    display: none;
}

label {
    position: absolute;
    display: block;
    width: 138px;
    height: 135px;
    border-radius: 50%;
    cursor: pointer;
    top: -4px;
    left: -5px;
}

label:hover {
    border: 5px solid #bbb;
    box-shadow: 0 0 0 5px rgb(246, 245, 243);
}

label[for^='max'] {
    border-color: #73c5f6;
}

label[for^='alex'] {
    border-color: #ff8384;
}

label[for^='georg'] {
    border-color: #ffe15d;
}

.wrapper {
    width: 993px;
    margin: 0 auto;
    position: relative;
}

.bg {
    position: absolute;
    top: 68px;
    right: -4px;
    width: 1416px;
    height: 757px;
    background-image: url(img/bg.png);
}

.block {
    background-color: #73c5f6;
    margin: 0 21px 0 18px;
    border: 2px solid #000;
    position: relative;
    transition: 1s;
}

.logo {
    height: 547px;
    position: initial;
    border-bottom-width: 1px;
}

.logo_yandex {
    position: absolute;
    left: 430px;
}

.logo_yandex span {
    position: absolute;
    display: block;
    width: 132px;
    height: 30px;
    text-align: center;
    font-size: 28px;
    top: 17px;
}

.logo_yandex span::first-letter {
    color: #f22;
}

.flag {
    background: #c8e8fb;
    position: absolute;
    width: 128px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid;
    border-width: 0 2px;
    transition: 1s;
}

.flag:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 42px 64px 0;
    border-color: #c8e8fb transparent transparent;
    transition: 1s;
}

.flag:before {
    content: '';
    position: absolute;
    right: -3px;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44px 67px 0;
    border-color: #000 transparent transparent;
}

.greetings {
    text-align: center;
    height: 86px;
    margin: 365px 115px 158px;
}

.greetings span {
    position: relative;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
}

.greetings span:before {
    display: block;
    content: '';
    width: 43px;
    height: 3px;
    position: absolute;
    background-color: #000;
    top: 20px;
    left: -10px;
}

.container {
    z-index: 100;
}

.description {
    height: 392px;
    position: initial;
    margin: 0 21px 0 18px;
    border: 2px solid black;
    border-width: 1px 2px;
}

.row {
    position: relative;
    margin: 75px 0 0 93px;
}

.desc {
    width: 450px;
    text-align: left;
    float: left;
}

.desc p:first-child {
    margin-bottom: 30px;
    margin-top: 0;
}

.video {
    height: 100px;
    float: left;
    margin: 3px 0 0 93px;
}

.border {
    width: 138px;
    height: 80px;
    margin-bottom: 13px;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.play {
    border-style: solid;
    border-width: 20px 0 20px 27px;
    border-color: transparent transparent transparent #0e0f0f;
    /* border: 20px 0 20px 27px solid
        transparent transparent transparent #0e0f0f; (?) */
    top: 22px;
    left: 59px;
    position: relative;
    border-radius: 6px;
}

.play > div {
    border-style: solid;
    border-width: 16px 0 16px 21px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: -16px;
    left: -25px;
    border-radius: 1px;
}

.video span {
    text-align: left;
}

.users {
    height: 3208px;
    position: relative;
    border-width: 1px 2px;
}

.users-row {
    height: 360px;
    margin: 80px 174px 0 171px;
    text-align: justify;
    position: absolute;
}

.users-row > div {
    display: inline-block;
}

.avatar {
    width: 138px;
    height: 139px;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    /* border-radius: 50%; */
    background-image: url('img/avatars_sprite.png');
}

/* .avatar:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 101px;
    left: 20px;
    border: #007017 solid 15px;
    border-radius: 50%;
} */

.avatar:hover {
    /* box-shadow: inset 0 0 10px 15px #0f0; */
}

.max .avatar {
    background-position: 0 0;
}

.alex .avatar {
    background-position: -138px 0;
}

.georg .avatar {
    background-position: -276px 0;
}

.user {
    float: left;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    position: relative;
}

.user:nth-child(2) {
    margin: 0 95px;
}

.user .note {
    width: 286px;
    display: block;
    position: absolute;
    left: -70px;
    top: 200px;
    size: 16px;
    text-align: center;
    font-weight: normal;
    transition: 1s;
    opacity: 1;
}

.path {
    position: absolute;
    top: 432px;
    left: 94px;
    width: 757px;
    height: 2453px;
    background: url('img/path.png') no-repeat;
}

.tour {
    width: 282px;
    position: absolute;
    text-align: center;
    line-height: 24px;
}

.tour p:first-child {
    margin-bottom: 30px;
}

.tour-1 {
    top: 500px;
    left: 93px;
}

.tour-2 {
    top: 1295px;
    right: 93px;
}

.tour-3 {
    top: 2095px;
    left: 93px;
}

.bg_img > div {
    margin: 0;
    position: absolute;
}

.notebook {
    width: 306px;
    height: 434px;
    top: 509px;
    left: 484px;
    background-image: url('img/notebook.png');
}

.phone {
    width: 318px;
    height: 384px;
    top: 761px;
    left: -20px;
    background-image: url('img/phone.png');
}

.pen {
    width: 48px;
    height: 233px;
    top: 761px;
    left: 328px;
    background-image: url('img/pen.png');
}

.ticket {
    width: 454px;
    height: 179px;
    top: 867px;
    left: 406px;
    background-image: url('img/ticket.png');
}

.watch {
    width: 130px;
    height: 247px;
    top: 1024px;
    left: 484px;
    background-image: url('img/watch.png');
}

.photo {
    width: 227px;
    height: 292px;
    top: 981px;
    left: 796px;
    background-image: url('img/photo.png');
}

.bag {
    width: 475px;
    height: 409px;
    top: 2048px;
    left: 440px;
    background-image: url('img/bag.png');
}

.ipad {
    width: 304px;
    height: 453px;
    top: 1322px;
    left: 202px;
    background-image: url('img/ipad.png');
}

.mask {
    width: 390px;
    height: 223px;
    top: 1559px;
    left: 562px;
    background-image: url('img/mask.png');
}

.palka {
    width: 228px;
    height: 622px;
    top: 1322px;
    left: 718px;
    background-image: url('img/palka.png');
}

.cup {
    width: 228px;
    height: 303px;
    top: 1691px;
    left: 328px;
    background-image: url('img/cup.png');
}

.iphone {
    width: 148px;
    height: 278px;
    top: 1646px;
    left: 44px;
    background-image: url('img/iphone.png');
}

.newspaper {
    width: 318px;
    height: 421px;
    top: 2383px;
    left: 91px;
    background-image: url('img/newspaper.png');
}

.magazine {
    width: 306px;
    height: 411px;
    top: 2494px;
    left: 679px;
    background-image: url('img/magazine.png');
}

.row-bot {
    bottom: 76px;
    height: 175px;
}

.footer {
    height: 435px;
    border-width: 1px 2px 2px;
}

.footer_text {
    width: 441px;
    margin: 68px 122px 24px 96px;
    float: left;
}

.footer_text p:first-child {
    margin-bottom: 30px;
}

.footer_logo {
    float: left;
    margin: 84px 0 0;
}

.social {
    clear: both;
    margin: 0 0 0 100px;
}

.social > div {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 8px 0 -4px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAAYCAMAAAAie4Q/AAAA3lBMVEW4uLi4uLi4uLi5ubm3t7e4uLi5ubm6urq7u7u8vLy9vb2+vr6/v7/AwMDBwcHCwsLDw8PExMTFxcXGxsbHx8fIyMjJycnKysrLy8vMzMzNzc3Ozs7Pz8/Q0NDR0dHS0tLT09PV1dXW1tbX19fZ2dna2trb29vc3Nzd3d3e3t7f39/g4ODh4eHi4uLj4+Pk5OTl5eXm5ubn5+fo6Ojp6enq6urr6+vs7Ozt7e3u7u7v7+/x8fHy8vLz8/P09PT19fX29vb39/f4+Pj5+fn6+vr7+/v8/Pz9/f3+/v7///+K+5d3AAAABHRSTlPg7vD2hvJsnAAAAiNJREFUSMfNlu12mkAQhrV1QMB8N0Yl1XwYkxpJbZpKqq5CYJX3/m+oPyAFFqhLYxvnD5yBnfc5s7OzU6GdsY/VarVaqdBu2YfdAVJ0XckCqZ/vrIf+u/A4gKOIQI0FAPwsEebocEtAGgBoItADRCAWmtVI/nasRi8dF2BNc7BRDgCST1kgB8D08VaIBACrk4Tz8akegq0BAK5pvB1Imfn+LLNlHPAzkTzmAZgknM+YH8cJRTBOfBtqpYEMo/CUccDNRLKIPIAlnF+AYNxUyA6B7NQC70opBdRZAKyVC3TZXwO83+9mgFg6Q3seAPCpFwKNBOnlORER1XJ2XgBSiMwAAIIWUT0D5EYrntKRJj1LrKFZUgA3Yi7wfJKToQwQh0a0DJ0zon2gAGiUE8lKhr9O8aCdlQ6+NiSAXoj2Xr060VoE+mYHwNq2e3mR3ISCaicFuJonzT9tBvI3ABUXdU/I0eH3IBYY5uVierq5qDk0osUftqwYiFj6mO2vYh7fyAK5XZlTxtEjaodFfUZ0VQZIOPfUZL+BzMyC1U2d5IDmClGbAfMWkerIAjHL8gDcpW/hcVS916J0MDIk+xAHBnFjvIcsUFQUsU8/PR++hF6vI0pPjqQ7NQdwG3VR9R6lgFgqP50fYU07A03yLi8EArswiBqXS0gCFQ0LZ90L8+CNEwd/vbhXcUf4W6Ct2BSCzd8ZSGKm1nRd+6/6ta0N+bV/laFfBzH+mnu7eZMAAAAASUVORK5CYII=');
}

.social > div > a {
    display: block;
    width: 24px;
    height: 24px;
}

.fb {
    background-position: 0 0;
}

.vk {
    background-position: -24px 0;
}

.twitter {
    background-position: -48px 0;
}

.youtube {
    background-position: -72px 0;
}

.habra {
    background-position: -96px 0;
}

.instagram {
    background-position: -120px 0;
}

.copy {
    position: absolute;
    bottom: 32px;
    left: 96px;
}

.copy a:first-child {
    margin-right: 15px;
}

.copy a:nth-child(2) {
    margin-right: 70px;
}

.user .note {
    opacity: 0;
}

#max_control:checked ~ .block {
    background-color: #73c5f6;
}

#max_control:checked ~ .logo .flag {
    background: #c8e8fb;
}

#max_control:checked ~ .logo .flag::after {
    border-color: #c8e8fb transparent transparent;
}

#max_control:checked ~ .users .max .note{
    opacity: 1;
}

#max_control:checked ~ .users .max label {
    border: 5px solid #73c5f6;
    box-shadow: 0 0 0 5px rgb(246, 245, 243);
}

#alex_control:checked ~ .block {
    background-color: #ff8384;
}

#alex_control:checked ~ .logo .flag {
    background: #ffcece;
}

#alex_control:checked ~ .logo .flag::after {
    border-color: #ffcece transparent transparent;
}

#alex_control:checked ~ .users .alex .note{
    opacity: 1;
}

#alex_control:checked ~ .users .alex label {
    border: 5px solid #ff8384;
    box-shadow: 0 0 0 5px rgb(246, 245, 243);
}

#georg_control:checked ~ .block {
    background-color: #ffe15d;
}

#georg_control:checked ~ .logo .flag {
    background: #fff3bf;
}

#georg_control:checked ~ .logo .flag::after {
    border-color: #fff3bf transparent transparent;
}

#georg_control:checked ~ .users .georg .note{
    opacity: 1;
}

#georg_control:checked ~ .users .georg label {
    border: 5px solid #ffe15d;
    box-shadow: 0 0 0 5px rgb(246, 245, 243);
}
