.Yandex_letter
{
    height: 4546px;
    width: 954px;
    margin: auto;
    margin-top: 167px;
    border-top: solid 3px;
}

.logo
{
    margin-top: px;
    text-align: center;
    opacity: .6;
    background-color: var(--white);
    border: solid 2px var(--almost-black);
}

h1
{
    z-index: 1;
    position: absolute;
    top: 175px;
    left: 632px;
    text-align: center;
    font-size: 1.7rem;
}

.main_header::first-letter
{
    color: red;
}

article
{
    border: solid 3px;
    border-top: none;
}

.header
{
    height: 551px;
}

.bg 
{
    top: 237px;
    right: 173px;
    width: 1416px;
    height: 788px;
    position: absolute;
}

header
{
    top: 549px;
    left: 315px;
    position: absolute;
    width: 729px;
    height: 86px;
    font-family: Arial;
    font-size: 42px;
    line-height: 1.09;
    text-align: center;
    color: #000;
}

.description
{
    height: 392px;
    display: grid;
    grid-template-areas: 'a b';
}

.text
{
    margin-top: 70px;
    margin-left: 93px;
    grid-area: a;
    width: 450px;
    height: 236px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    z-index: 1;
}

.area_b
{
    position: relative;
    top: 77px;
    grid-area: b;
}

.video
{
    width: 138px;
    height: 80px;
    border-radius: 4px;
    border: solid 2px #000;
}

.triangle
{
    margin-left: 60px;
    margin-top: 20px;
}

.video_desc
{
    height: 15px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    margin-top: 5px;
}

.heroes
{

    display: grid;
    grid-template-columns: 125px 250px 250px 250px 125px;
    grid-template-areas: 'a d f g b';
    height: 432px;
    border-bottom: none;
}

.young
{
    grid-area: d;
}

.young > img
{
    width: 138px;
    height: 138px;
}

.adult
{
    grid-area: f;
}

.adult > img
{
    width: 138px;
    height: 138px;
}

.senior
{
    grid-area: g;
}

.senior > img
{
    width: 138px;
    height: 138px;
}

.caption
{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: #000;
    text-align: center;
}

.young > .caption
{
    margin-left: 42px;
}

.adult > .caption
{
    margin-left: 5px;
}

.hero_on_hover
{
    fill: none;
    stroke-width: 3px;
}

.hero_on_hover,
.info
{

    display: none;
}

.info
{
    margin-top: 20px;
    width: 290px;
    height: 64px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.young > .info
{
    position: relative;
    right: 80px;
}

.adult > .info
{
    position: relative;
    right: 80px;
}

.senior > .info
{
    position: relative;
    right: 80px;
}

.heroes > label 
{
    height: 138px;
    width: 138px;
    margin: 80px auto;
}

.heroes > label:hover > svg
{
    display: block;
    position: absolute;
    z-index: 1;
}

.young:hover > svg
{
    position: relative;
    top: 1194px;
    left: 376px;
}

.adult:hover > svg
{
    position: relative;
    top: 1194px;
    left: 626px;
}

.senior:hover > svg
{
    position: relative;
    top: 1194px;
    left: 876px;
}

input[name='color']
{
    display: none;
}

input[id='blue']:checked ~ .Yandex_letter
{
    background-color: #73c4f6;
}

input[id='blue']:checked ~ .Yandex_letter > footer > .foot_logo > svg > text
{
    fill: #73c4f6;
}

input[id='blue']:checked ~ .Yandex_letter > .heroes > .young > .info
{
    display: block;
}

input[id='red']:checked ~ .Yandex_letter
{
    background-color: #ff8283;
}

input[id='red']:checked ~ .Yandex_letter > footer > .foot_logo > svg > text
{
    fill: #ff8283;
}

input[id='red']:checked ~ .Yandex_letter > .heroes > .adult > .info
{
    display: block;
}

input[id='yellow']:checked ~ .Yandex_letter
{
    background-color: #ffe05d;
}

input[id='yellow']:checked ~ .Yandex_letter > footer > .foot_logo > svg > text
{
    fill: #ffe05d;
}

input[id='yellow']:checked ~ .Yandex_letter > .heroes > .senior > .info
{
    display: block;
}

.path
{
    height: 2402px;
    border-bottom: none;
}

.path > section > img,
.path > section > div
{
    position: absolute;
}

.path_img
{
    position: relative;
    top: 1490px;
    margin-left: 96px;
}

.step_one_text
{
    top: 1553px;
    left: 293px;
    width: 300px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.notebook
{
    top: 1566px;
    left: 684px;
    z-index: 1;
}

.phone
{
    top: 1818px;
    left: 180px;
}

.pen
{
    top: 1818px;
    left: 528px;
}

.ticket
{
    top: 1924px;
    left: 606px;
}

.watch
{
    top: 2083px;
    left: 683px;
}

.photo
{
    top: 2038px;
    left: 996px;
}

.step_two_text
{
    top: 2355px;
    left: 768px;
    width: 280px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.smartphone
{
    left: 244px;
    top: 2704px;
}

.planchet
{
    left: 400px;
    top: 2380px;
}

.cup
{
    left: 528px;
    top: 2749px;
}

.mask
{
    left: 765px;
    top: 2617px;
}

.palka
{
    left: 918px;
    top: 2380px;
}

.step_three_text
{
    left: 280px;
    width: 292px;
    height: 180px;
    top: 3150px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.bag
{
    top: 3104px;
    left: 640px;
}

.newspaper
{
    top: 3439px;
    left: 291px;
}

.magazine
{
    top: 3550px;
    left: 879px;
}

.path + .heroes
{
    height: 324px;
    border-bottom: solid 3px;
}

footer
{
    border: solid 3px;
    border-top: none;
    height: 435px;
    border-bottom: solid 3px;
}

.costil
{
    height: 84px;
}

.foot
{
    margin-left: 95px;
    width: 439px;
    height: 164px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.foot_logo
{
    margin-left: 650px;
    margin-top: -170px;
}

text
{
    font-size: 4rem;
}

.sprite > .facebook
{
    margin-left: 96px;
}

.sprite > img
{
    margin-top: 30px;
    margin-left: 8px;
    margin-bottom: 92px;
    
}

.help
{
    font-family: Arial;
    font-size: 16px;
    margin-left: 96px;
}

.callback
{
    font-family: Arial;
    font-size: 16px;
    margin-left: 20px;
}

.footer
{
    font-family: Arial;
    font-size: 16px;
    margin-left: 80px;
}
