
main
{
    display: grid;
    grid-template-areas: 'a align f';
    grid-template-columns: 1fr 953px 1fr;
    text-align: center;
    z-index: 64;
    position: relative;
    height: 4634px;
}

.align
{
    grid-area: align;
    background-color: #72c5f6;
    border: 1px solid #000;
}

.main-head
{
    border: 1px solid #000;
    height: 551px;
    z-index: -9999;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}

.main-head-txt
{
    font-family: Arial, serif;
    font-size: 44px;
    line-height: 1.09;
    margin-left: 127px;
    position: inherit;
    margin-right: 91px;
    z-index: 2;
    margin-top: -466px;
}

.ya-label
{
    margin-top: -2px;
}

.bg-yandex
{
    width: 1423px;
    margin-left: -448px;
    margin-top: -43px;
    height: 775px;
    z-index: -333;
}

.main-top
{
    border: 1px solid #000;
    height: 372px;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}

.main-top-txt,
.playbox
{
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.main-top-txt-container
{
    margin-top: 83px;
    margin-left: 112px;
    width: 450px;
    height: 236px;
}

.playbox
{
    float: right;
    margin-right: 124px;
    margin-top: -236px;
    text-align: left;
}

.choose-mans > label,
.choose-mans > img
{
    
    -o-object-fit: contain;
    
    object-fit: contain;
    margin-right: 96px;
}

.choose-mans,
.choose-mans-bottom
{
    display: grid;
    grid-template-areas: 'max alex geor';
    position: relative;
    margin-top: 80px;
    margin-bottom: 91px;
    z-index: 2;
}

.choose-mans-bottom
{
    margin-top: 30px;
    margin-bottom: 50px;
}

.choose-mans-bottom > .max
{
    text-align: right;
}

.choose-mans-bottom > .max .names
{
    margin-right: 37px;
}

.choose-mans-bottom > .geor
{
    text-align: justify;
}

.main-info
{
    margin-top: 100px;
}

img[src*='main1']
{
    margin-left: -18px;
    width: 103%;
}

img[src*='main3']
{
    margin-left: 69px;
    margin-top: 24px;
    width: 95%;
}

img[src*='main2']
{
    margin-top: -101px;
    margin-left: 17px;
    width: 97%;
}

.choose
{
    position: absolute;
    z-index: -1;
    width: 17%;
    height: 56%;
    margin-top: -11px;
    margin-left: 74px;
    border: solid 3px #fff;
    border-radius: 50%;
}

p[title*='1'],
p[title*='2'],
p[title*='3'],
input
{
    visibility: hidden;
}

input[id='choose-1']:checked ~ .align p[title*='1'],
input[id='choose-2']:checked ~ .align p[title*='2'],
input[id='choose-3']:checked ~ .align p[title*='3'],
input[id='choose-1']:checked ~ .align > .choose-mans > .max > .about,
input[id='choose-2']:checked ~ .align > .choose-mans > .alex > .about,
input[id='choose-3']:checked ~ .align > .choose-mans > .geor > .about
{
    visibility: visible;
}

input[id='choose-2']:checked ~ .align
{
    background-color: #ff8384;
}

input[id='choose-3']:checked ~ .align
{
    background-color: #ffe15c;
}

.names
{
    margin-top: 17px;
    font-family: Arial, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: #000;
}

.about
{
    width: 285px;
    height: 64px;
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin-left: 23px;
    visibility: hidden;
}

.main-info-1
{
    width: 296px;
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin-bottom: -235px;
    margin-left: 87px;
}

.footer
{
    border: 1px solid #000;
    height: 435px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}

.footer-txt
{
    width: 439px;
    height: 164px;
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    margin-top: 84px;
    margin-left: 95px;
}

footer
{
    margin-top: 100px;
}

a
{
    text-decoration: none;
    width: 174px;
    height: 15px;
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

.man-help
{
    text-align: left;
    margin-left: 96px;
    margin-bottom: -24px;
}

img[title='ya']
{
    position: absolute;
    margin-top: -180px;
    margin-left: 170px;
}

.man-help > a
{
    margin-right: 16px;
}

.main-info-2
{
    width: 278px;
    margin-left: 59%;
    margin-top: 25px;
    height: 64px;
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000;
}

.main-info-3
{
    width: 306px;
    height: 64px;
    margin-bottom: -141px;
    font-family: Arial, serif;
    font-size: 17px;
    margin-top: 19px;
    margin-left: 64px;
    line-height: 1.5;
    text-align: center;
    color: #000;
}

.icon
{
    width: 37px;
    height: 30px;
    margin-right: -83px;
    margin-left: 79px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAAoCAYAAADAOHfQAAAHSUlEQVR4Xu1c908UTxSfExCkhSISjAomdAISlSARNIQY7k+GH6SETiAkaEBBKVIMvShFKffNZ+Kce3tb7ryZ2d3vvUkugLO78/bz3ue1mTPEaBAChEBgEQgFVnISnBAgBBgRmIyAEAgwAkTgACuPRCcEiMBkA4RAgBEgAgdYeSQ6IUAEJhsgBAKMABE4wMoj0QkBVwL39fVFVMIUDoddZXBan+Qj/FKxT7/YXygUuohEIpemdzkNh8NVTu/nSh4iCBHk/0AQu3fwC4Ft5DsJh8NFROAULNDnCmYkXwrKZcwX+IVCIZaZmclf5Pr6mkUi0aTXOwLfuXOHPXjwgBUUFLCsrCwGIc/Pz9nq6moM4mSAwTdApzcg/TrrF7zo6upi9+7d4xdeXFywkZERQWJvCJydnc3a2tpYXl5ejPRHR0dsenqaCJwAZ6FY4AdvfHZ2ZnsHESQBMB0u8Ro/RN6enp4YCd+/f88jMWPMGwI3NTWxR48excGmm8CvX7+2VR1k+fr1K/v165ejBchWMDISEPL29tZ23bKyMtbY2MhycnL4NT9//mQLCws8k8H9kFsM2fKlRof4u1XJ19vbG7NYf39/zN9u837Bz5cEfvPmTTQlAFDHx8fs8vKSG+6XL1+0RWCzEs3mdXNzwzOC09NTbRHu2bNnDOXF/Pw8w/rmAYK+evWKX2MewHBxcZHj+fv3bz6tiiCyiKxKPjeCus37hcDItKBvYwo9OTnpbQqNlEAU5VdXV2xgYEAbQYwLGZUIg8fn7t27/CPG/v4+m52d1SYfSouSkhL248cP9uHDB/7TOOyyF1yDdPr79+/8Pl0GWFdXxyP+n5QuaV4Tgf9CJuxOON8EwPQmhTYSGFFjeHhYG0HsCLyxscHTUIzu7u4oiZGejo2NaZOvtraWPX36lK8nCLm5ucmjKv5++fIlKy0ttZTn4OCAzczMaMtgsBCcIAwOJAaGhg5pAvanLkNwi7Bu87ocINZBSQRHKHpCsLlPnz4x6NNl6CXw48ePeeStrq6OpoDw3CsrK1xOkBkRxDhUeWhhfGItI4FRG+fn5/Mp3REYdW1HR0dMFgA5gBMUm5ubGzcn3uHbt288hdaFnxlD7CIsLS2xnZ2dOLsDsZEOmocq/bqVR2Y5zDWySgIDB+HosBPT2toahw3mkfkJEmdkZFiVVHoJ/Pbt22jjxcqz7O7usrm5OW0GaFQyiArnUVRUxOBoMLyqgUHSwsJCN+8bN7+8vBx1hioN0LiwFVEODw/Z58+fHXsHquXzI4FF5mnoIvMtIujbaqD3MjExwadQA6N3hGFwNv4isO4I4qZkY1S2Y5PsCFJZWcnq6+uTJi9ugMeGI/IqAhvXRQTZ3t5mcCpOnXzZ+AkZ3HTrRQQGgREUhoaG+PLIthDUnAb6Q+gTYbx7945nrp4RuKWlhad/aNKIdArbJdiywYDC8dFlgIkoGWk9un52RijbAKGg58+f29a5dspGij04OBi3/SRbPvP6bhhCLtTlJycnlqKrks9NLq8IDMcmmraBI7AAze9NrIcPH7Lm5uaojp0isQoDRDOjpqaGn1SzqhutmLC2tsbTVvNQIZ9xDSeioPEGmfBTVwZjF4H9sA9slUJ3dnbGHWgS7+C7FDooBIacxkaWUydaBUFQ72B9NC4SGUixRkdHo3u/ujIYrGNFYGQtaGaZG5JW76ICPyu5/ERgbPOJTPP+/fs84zI7akRqZC7oJ2A8efKENTQ08N89S6GDROBEt5JUGWBxcTE/bSW64U5ERuMPDUCdBLGKdKjvsKOwvr5ueQhFp3xu20Ru80JWmfoVERh7+2hOiU40SIxtJKFrzCNzER1olFWI1OIwBxH4j3aMSkSUFbV4eXl5zFYNjBLNGJ0GiLWgOBzcQEpvNWAAUDQIoztFNRIYcqDMwF5wEocQ+CNkEsSIgRtB3eZVEhjPxolD45FX/JvdQQ40NdHcFIMIbEFgOwKgfpuamtJCEJxlRv2LL3tgO6uiooL/bjVAlI8fP7K9vT2n4KyMIGLRFy9ecCcCB/gvI10JDKxAYHzsDr/AgeNgj5G8uI8InACBYZBIS+0irwoPjWfiVA72oZFWWTWw8HWyra0tHnUTOb6oiiD/QladGYxbhHWbV6FfY/NWPB92hgYkHLHIXuC00cCsqqqy3CMmAsuyPoUpIE6s4TAHlAlPjEYVlI3TTsmMdCVwMhg5XSsTPysCG9cWX15xa14SgWVpVyGBZYko0wBlyWR8TjrJ197ezkujVAYaXOPj4+IRek9iiVX9sg+cCpAqUiwZ8pifkU4ESUP8vCEw0kNR36GAd6rlyABTM0vCz5/42X25I0lpvSFwMkKmswHKUHI645eMndld63P8UiewDJDoGYQAIaAGAdf/F1rNsvRUQoAQkIEAEVgGivQMQsAjBIjAHgFPyxICMhAgAstAkZ5BCHiEABHYI+BpWUJABgJEYBko0jMIAY8QIAJ7BDwtSwjIQOA/QUa0dDcwSCoAAAAASUVORK5CYII=);
}

.social
{
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
}

.vk
{
    background-position: -39px -1px;
}

.facebook
{
    background-position: 3px -1px;
}

.twitter
{
    background-position: -78px -1px;
}

.youtube
{
    background-position: -116px -1px;
}

.habr
{
    background-position: -156px -1px;
}

.instagram
{
    background-position: -196px -1px;
}

img[title='phone']
{
    margin-top: -627px;
    height: 9%;
    margin-left: -964px;
    position: absolute;
}

img[title='photo']
{
    position: absolute;
    margin-top: -307px;
    margin-left: 309px;
}
