main
{
    position: relative;
    width: 954px;
    height: 4610px;
    margin: auto;
    border: 2px solid #000;
}

.arial-default
{
    font: 16px/1.5 Arial, serif;
}

.yandex
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 87px;
    font-weight: 800;
}

input
{
    display: none;
}

input[id='pink']:checked ~ main .pink-desc
{
    display: block;
}

input[id='blue']:checked ~ main .blue-desc
{
    display: block;
}

input[id='yellow']:checked ~ main .yellow-desc
{
    display: block;
}

input[id='pink']:checked ~ main
{
    background-color: #ff8384;
}

input[id='yellow']:checked ~ main
{
    background-color: #ffe15d;
}

input[id='blue']:checked ~ main
{
    background-color: #73c5f6;
}

.top
{
    display: flex;
    justify-content: center;
    height: 555px;
    border-bottom: 2px solid #000;
}

.top-pentagon
{
    fill: #fff;
    fill-opacity: .6;
    stroke: #000;
    stroke-width: 2;
}

.svg-logo
{
    background: url('assets/svglogo.svg') no-repeat;
    width: 110px;
    height: 80px;
    position: absolute;
}

.bg
{
    position: absolute;
    right: -27px;
    top: 75px;
}

.top-text
{
    position: absolute;
    top: 330px;
    width: 780px;
    height: 5px;
    font-size: 48px;
    line-height: 1;
    text-align: center;
}

.screen-section
{
    position: relative;
    height: 400px;
    border-bottom: 2px solid #000;
}

.middle-text
{
    overflow: hidden;
    width: 450px;
    height: 236px;
    text-align: left;
    position: absolute;
    left: 100px;
    top: 50px;
}

.screen
{
    position: absolute;
    right: 170px;
    top: 70px;
    width: 138px;
    height: 80px;
    border-radius: 4px;
    border: solid 2px #000;
}

.triangle
{
    fill: #fff;
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 2;
}

.people-section
{
    position: relative;
    display: flex;
    justify-content: center;
}

.bottom-image-holder
{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 654px;
    height: 200px;
    top: 140px;
}

.image-holder
{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 654px;
    height: 460px;
    top: 80px;
}

.character-block
{
    position: relative;
    width: 150px;
}

.char-container
{
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 5px;
    z-index: 1;
    width: 144px;
    height: 144px;
    display: block;
}

.max-container
{
    top: 5px;
}

.character
{
    top: 8px;
    left: 9px;
}

.circle
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 3;
    fill-opacity: 0;
}

.label:hover ~ .circle
{
    display: inline;
}

.character-element
{
    position: absolute;
}

.char-name
{
    position: absolute;
    top: 160px;
    width: 152px;
    height: 16px;
    line-height: 1.38;
    font-weight: bold;
    text-align: center;
}

.char-description
{
    display: none;
    top: 200px;
    left: -63px;
    width: 285px;
    height: 64px;
    text-align: center;
}

.max
{
    top: 2px;
}

.alex
{
    position: absolute;
    left: -146px;
    top: 0;
}

.gayorgy
{
    position: absolute;
    left: -292px;
    top: 0;
}

.path
{
    position: relative;
    border-bottom: 2px solid #000;
    height: 2800px;
}

.path-img
{
    position: absolute;
    left: 85px;
}

.top-path-block
{
    position: relative;
    height: 790px;
}

.first-text
{
    left: 80px;
    top: 65px;
}

.path-text
{
    position: absolute;
    width: 283px;
    height: 64px;
    text-align: center;
}

.path-element
{
    position: absolute;
}

.pen
{
    top: 325px;
    left: 315px;
}

.phone
{
    top: 325px;
    left: -35px;
}

.ticket
{
    top: 433px;
    right: 90px;
}

.notebook
{
    top: 75px;
    right: 160px;
}

.watch
{
    top: 593px;
    right: 335px;
}

.photo
{
    top: 548px;
    right: -72px;
}

.middle-path-block
{
    position: relative;
    height: 800px;
}

.second-text
{
    top: 80px;
    right: 100px;
}

.ipad
{
    top: 105px;
    left: 200px;
}

.iphone
{
    top: 425px;
    left: 42px;
}

.cup
{
    top: 470px;
    left: 325px;
}

.mask
{
    top: 335px;
    right: 0;
}

.palka
{
    top: 100px;
    right: 17px;
}

.bottom-path-block
{
    position: relative;
    height: 800px;
}

.third-text
{
    top: 75px;
    left: 80px;
}

.bag
{
    top: 30px;
    right: 55px;
}

.newspaper
{
    top: 360px;
    left: 85px;
}

.magazine
{
    top: 470px;
    right: -22px;
}

.footer
{
    position: relative;
    display: flex;
    justify-content: center;
}

.logo-atom
{
    position: absolute;
    width: 102px;
    height: 102px;
    right: 200px;
    top: 80px;
}

.masked
{
    mask: url('#myMask');
}

.top-footer-text
{
    position: absolute;
    top: 40px;
    left: 90px;
    width: 439px;
    height: 164px;
}

.footer-text
{
    text-align: left;
}

.bot-footer-text
{
    position: absolute;
    left: 90px;
    top: 325px;
    width: 439px;
    height: 164px;
}

.center-footer-text
{
    position: relative;
    top: 326px;
}

.sprite-holder
{
    width: 204px;
    height: 44px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 90px;
    top: 240px;
}

.social-container
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMwAAAAiCAYAAAATbDYAAAAG4ElEQVR4Xu1c90scTRiei12j2ENCYgG7REUNKkkUEfH+ZP3Bhl0UQYO9myixxN7bxzN8c8ztbd+Zu/NuBg41uzfz7jPP87ZZ4iNqKAQUArYR8Nm+U92oEFAIECUYRQKFgAMElGAcgKVuVQgowSgOKAQcIKArmN7e3lcHczi+1e/32xKqsiMYWoWHHDx8Pt/t6+vrnYbIF36/v0RLbiUYG3JXRJVDVCPoo8Shnvv9/mwlGA6BKNkYouwIpmU48fD5fCQxMZEa8PT0RF5fA8mVfMG8e/eOFBYWkszMTJKUlERgzM3NDdna2gpCJJyAmAUQZUfkiBoN+wJ+/vz5k6SlpVFzbm9vycjICBONXMGkpKSQb9++kYyMjCAsTk9PyfT0dFwKBhsCPOC1rq+vDTmihBsZ4SKydHV1BS3e399PIw0hRK5gamtryefPn0NIIUsw379/NyQg1tzY2CD39/emFYpboiKCQgAvLy+G8xcUFJCamhqSmppK77m6uiKLi4s08uL7sI8Nt3bYKL8c3eLVjp6enqD1+vr6gv62uh5uPCIqmPb29kBow4OfnZ2Ru7s7Sqz19XXhEUYLvpYZz8/PNLJdXFwI9+z19fUE6ef8/DzBOtoBQbS2ttJ7tAOYLC0tUXweHh7oZa9EdaQKk5u92mElCKvr4RYMMgDsE5+STU5OhiclQ2hjxdPj4yMZGBgQTlR+Qh58EA+f5ORk+mHj+PiYzM7OCrcDqWdubi65vLwkCwsL9Cc/jKIt7kF6dnBwQL8nmiCVlZU0cv2fUjjWUSwLhvGCOSkb4MhNyXjBwIsODw8LJ6qRYPb29mi6g9HZ2RkQDdKgsbEx4XZUVFSQ0tJSOi8TwO/fv2nUwN/Nzc0kLy9Pd92TkxMyMzMjPOJiQjgREAKiASZcx8cGP7xHOqsIYnVdtAPBfEiN4UhYbQ1OLC8vE+yDxZAjmC9fvtDIUlZWFkhB4OE2NzepPRAPPCo/vHoyRg42Jy8Y1Dbv37+nl2RFGNQlbW1tQdEM6+G5sSHp6ekh15itu7u7NCUTjYcWE3QnV1dXyd+/f0N4ASEhHdEOr/tilSZr19PWOCIEg+dijgId24aGhpBnxXVkHkw0CQkJeqm1HMF0dHQECls9xR4eHpK5uTnhBOE3B8KAKLOzswkEjCG7hoEosrKyrLxUyPW1tbWAMxFBEH4BPcL++/ePrKysmNZyouyIpGBYhsN1uWjLGPukN1DbTkxM0EuoYVCDY3AijoxgZHlUq83ho44Rq9161OLiYlJVVeVYLPgCPBsELjvC8PPDo+7v7xOI1axz6BYPtpbVnsiMMBAMnOTQ0BBdBlkAnLnZQJ2Nehuju7ubZkjSBVNXV0fTDxTBLMyj3YrWLgY2Ch/RBLGzOUgH0fUwIolbggDYxsZGwzrFaJOQsg0ODoa0o93aoV3HChOsj/rp/Pxc10SvdlitL1swcAys2RS1gmEgREvR/+nTJ/L169fA3phFGi8EQRFZXl5O32zQqwf0GLm9vU3TI+3wYgc/lxlh0ZDA2vgpOuIaRZhwnsPopWQ/fvwIOUhntkYsJYs2wcAevvA365R5ISryXqyDgtHOQOgfHR0NnL2IjriYT08wiLIo/rWNFz2bveCht34kBIN2Pcto8vPzaSagdWiIRIi0qO8wioqKSHV1Nf1dekoWjYKx21r2SpCcnBx6ms+6cmbCQeMDDRAZRNXz8Mjn0anc2dnRPVyVYYdV29jqOrPJzb6wCIMzMRTzrFMG0aCtzPYI1xFpWYcM6TUiETu8jAvBIIqwmunDhw9BLV2QBsWuDIJgTgCOg0qkgnoDG4cNAnFlpUK8YLAe0lCcxTg4pKNTuCEq/0xWgrC6LkIwmANvlvCvHuHfjA4u0bxBE4eNuBCMERGRr09NTQklKt4FQ/2Cl03Rxv748SP9XW+AsL9+/SJHR0dmwcczUdnkTU1NVJxwIG5GrAgGzw7B4GN0eAtHhwNoXiz4XlwKBoRB+mMUWbx4MnwXp8c470G41yv48Zr4nz9/aFSx85qKV6K6EYeMiGsVQayue9kXvunE5gEP0GiBw2LRFs4NjZqSkhLdM5qYFYwIknglKt5wwOElNgEeC4U9Ngmn7E6GVzucrGV271u2Q08w/LOyl2StmjRKMCYMecsEESUSfp63jEdLSwtNkb0MNATGx8fZFHJO+tns4T6H8QKMl9AvYl3tHG+ZqDGMh1zBID1h+TwKLbPcXREkmGYKD7F4GL1c6lDccgXjxJhYIoiIzYklPJzwwOjeKMHDvmBEPLSaQyEQiwjY+g/1YvHB1TMpBNwgoATjBjX1nbhFQAkmbrdePbgbBJRg3KCmvhO3CPwHnO+0biin5oIAAAAASUVORK5CYII=');
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.sprite-1facebook
{
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-2vkontakte
{
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-3twitter
{
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-4youtube
{
    width: 24px;
    height: 24px;
    background-position: -107px -5px;
}

.sprite-5habra
{
    width: 24px;
    height: 24px;
    background-position: -141px -5px;
}

.sprite-6instagram
{
    width: 24px;
    height: 24px;
    background-position: -175px -5px;
}
