@font-face
{
    font-family: 'Super Secret Sans Text';
    src: url('../fonts/text-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Super Secret Sans Text';
    src: url('../fonts/text-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Super Secret Sans Display';
    src: url('../fonts/display-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Super Secret Sans Display';
    src: url('../fonts/display-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
