@import 'defaults.css';
@import 'settings.css';

main
{
    width: 954px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-slide
{
    width: 100%;
    height: 571px;
    margin-top: 80px;
    box-sizing: border-box;
    border: 2px solid black;
    border-bottom: none;
}

.header-slide__arrow
{
    margin-top: -1px;
    position: absolute;
    left: calc(50% - 79px);
}

.header-slide__logo
{
    width: 80px;
    height: 60px;
    position: absolute;
    left: calc(50% - 52px);
    background: url('../images/logo.svg') no-repeat;
    background-size: cover;
}

.header-slide__background
{
    z-index: 1;
    width: 1416px;
    height: 788px;
    margin-top: 70px;
    margin-left: -440px;
    object-fit: contain;
    position: absolute;
}

.header-slide__text
{
    z-index: 2;
    left: -8px;
    top: 386px;
    width: 740px;
    height: 86px;
    display: block;
    margin: 0 auto;
    font-size: 44px;
    line-height: 1.09;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
}

.atom-slide
{
    width: 100%;
    height: 392px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    border-bottom: none;
}

.atom-slide__text
{
    z-index: 2;
    top: 70px;
    left: 95px;
    width: 450px;
    height: 236px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    position: relative;
    font-family: Arial, sans-serif;
}

.atom-slide__playbutton__shape
{
    margin: 0;
    top: 75px;
    right: 175px;
    width: 138px;
    height: 80px;
    position: absolute;
    border-radius: 4px;
    border: solid 2px #000;
}

.atom-slide__playbutton__caption
{
    margin: 0;
    top: 170px;
    right: 118px;
    width: 200px;
    height: 15px;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    font-family: Arial, sans-serif;
}

.persons-slide
{
    height: 400px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    border-bottom: none;
    padding: 75px 140px 0;
}

.person
{
    margin: 0 40px;
    padding: 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.person__photo-container
{
    padding: 0;
    width: 138px;
    height: 138px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
}

.person__photo-container:after
{
    top: -7px;
    left: -7px;
    content: '';
    width: 145px;
    height: 145px;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.person__name
{
    width: 138px;
    height: 13px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: center;
    font-family: Arial, sans-serif;
}

.person__description
{
    width: 285px;
    height: 64px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-side
{
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 80px;
}
