.theme-toggler-blue:checked ~ main .theme-toggler-label-blue:after,
.theme-toggler-red:checked ~ main .theme-toggler-label-red:after,
.theme-toggler-yellow:checked ~ main .theme-toggler-label-yellow:after
{
    border: 4px solid #fff;
}

.theme-toggler-blue:checked ~ main
{
    background: #73c2fb;
}

.theme-toggler-red:checked ~ main
{
    background: #fd5b78;
}

.theme-toggler-yellow:checked ~ main
{
    background: #ffde5c;
}
